#root {
  max-width: 1280px;
  margin: 20px auto;
  padding: 2rem;
  text-align: center;
}


input {
  width: 400px;
  margin: 8px;
  height: 50px;
}
button {
  height: 54px;
  width: 120px
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions ul {
  padding: 0;
  margin: 0;
  font-size: 50px;
  list-style: none inside none;
}
.questions li {
  border: 3px solid blue;
  margin: 10px 0;
}


.error {
  color: red;
  -webkit-animation: fadeout 0.7s 1.8s forwards;
  animation: fadeout 0.7s 1.8s forwards;
  margin: 5px;
}

/* https://www.w3schools.com/howto/howto_js_snackbar.asp */
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}